@media(max-width:800px){
 
    .sec1{
        background: url(bg/wine.webp);
        height: 900px;
        background-size: cover;
    }
    .left-nav {
        width: 10%;
    }
    .nav-right{
        width: 79%;
    }
    .nav-right a{
        font-size: 12px;
        padding: 3px 3px;
    }
        .article{
        margin-right: 30px;
    }
    .picture{
        display: flex;
        flex-direction: column;
    }
    .bottle{
        display: flex;
        flex-direction: column;
    }
    .khan{
        width: 100%;
    }
    .winee{
        position: relative;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .winee img{
        width: 100%;
    }
    .bottle .wineee{
        flex-direction: column;
    }
    .darko{
        width: 100%;
        .darko 
         margin-top: 23px;
        
    }
    .darko img {
        width: 204px;
    }
    .picc{
        flex-direction: column;
        align-items: center;
    }
    .Review{
        display: flex;
        align-items: center;
    }
    .Review button{
        margin-left: 0;
    }
    .footer-1{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
  .footer-2,.footer-3{
        width: 100%;
        align-items: center;
        margin: 10px 0;
  }   
    .footer-3 input{
        width: 60%;
    }
    .last{
        width: 100%;
    }
    .picked{
        width: 90%;
        padding: 10px;
        left: 0;
    }
    .footer-4 h5 {
        margin-top: 5px;
    
    }
}