*{
    margin:0;
    padding:0;
}
/* header{
   background: url(bg/wine.webp);
   height: 700px;
    background-size: cover;
    animation-name: ainmate;
    animation-duration: 13s;
    animation-timing-function: ease-in-out;
    animation-direction:alternate;
   animation-iteration-count: infinite;
   animation-delay: 1s;
} */
.sec1{
    background: url(bg/wine.webp);
   height: 700px;
    background-size: cover;
    animation-name: ainmate;
    animation-duration: 13s;
    animation-timing-function: ease-in-out;
    animation-direction:alternate;
   animation-iteration-count: infinite;
   animation-delay: 1s;
}


@keyframes ainmate {
    from{
        background: url(bg/wine.webp);
        background-size: cover;
    }
    to{
        background: url(bg/tuf.jpeg);
        background-size: cover;
    }
    
}
/* before  */
/* nav{
    position: fixed;
    width: 95%;
    margin-left:20px;
    height: 45px;
    background:white;
} */
/* after  */
nav{
    display: flex;
    top: 0;
    position: fixed;
    width: 100%; 
    justify-content: space-between;
    z-index: 1;
    background: rgb(59 53 53 / 56%);
}
.left-nav{
    width: 30%;
}
nav img{
    width: 65px;
    padding: 5px;
    filter: invert(70%);
    /* margin-top:-25px; */
}
/* before  */
/* .nav-right {
    display: inline-block;
    float: right;
    margin-top:10px;
} */
/* after  */
.nav-right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-right a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 15px 0;
    /* border-bottom:2px solid red; */
  
}
.sec1{
    background: url(bg/wine.webp);
   height: 700px;
    background-size: cover;
    background-position: center;
    animation-name: ainmate;
    animation-duration: 13s;
    animation-timing-function: ease-in-out;
    animation-direction:alternate;
   animation-iteration-count: infinite;
   animation-delay: 1s;
}

.article {
    float:right;
     margin-top:220px;
    margin-right:180px; 
}
.article h2{
    color:yellow;
    font-family: Arial, Helvetica, sans-serif;
}
.article h3{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.article button{
    background: none;
    height: 40px;
    width: 100px;
    color:rgb(255, 255, 255);
    border:2px solid white;
    margin-top:10px;
    border-radius: 6px;
    transition: all;
    transition-duration:3s;
    transition-timing-function: ease-in; 
    box-shadow: 3px 3px 5px white;
}
.article button:hover{
    background-color: blue;
    color:white;
    border:2px solid blue;
    border-radius: 5px;
    box-shadow: 3px 3px 5px blue;
}
.picture {
    display: flex;
    background-color: black;
    /* height:350px; */
}
.khan{
    height: 280px;
    width:400px;
    border:none;
}
.khan img{
    height: 100%;
    width:100%;
    
}
.bottle{
    background-color:black;
    /* height: 350px; */
  
}
/* before */
/* .winee{
    padding-left:230px;
    display: flex;
} */

/* after*/
.winee{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.darkwine{
    height:280px;
    width:130px;
    border: none;
}
.darkwine img{
    height:140px;
    margin-top:40px;
    margin-right: 10px;
}
.darkwine p{
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    margin-left:29px;
}
.last{
    height: 550px;
    background: url(new/wene.jpg);
    background-size: cover;
    
     filter: blur(2px);
    -webkit-filter: blur(7px);
   
}
/* .Hand-Picked{
   height: 70%;
   width: 400px;
    margin-left:150px;
    padding-top:150px;
    position: relative;
    top: -350px;
} */
.picked{
    height: 0px;
    width: 360px;
    color:red;
    position: relative;
    top: -350px;
    left: 90px;
    /* margin-right:150px; */
    background: none;
}
.picked h1{
    font-size: 45px;
}
.picked span{
    font-size: 28px;
    color:rgb(188, 178, 178);
}
.picked h2{
    font-size:19px;
    padding: 5px;
}
 
.picked button{
    background: none;
    height: 40px;
    width: 100px;
    color:rgb(255, 255, 255);
    border:2px solid white;
    margin-top:10px;
    border-radius: 6px;
    transition: all;
    transition-duration:3s;
    transition-timing-function: ease-in; 
    box-shadow: 2px 2px 2px white;
}
.picked button:hover{
    background-color: gray;
    color:black;
    border:2px solid gray;
    border-radius: 5px;
    box-shadow: 3px 3px 5px gray;
}
.Feature{
    /* height:400px; */
    background-color: black;
    color:white;
    text-align: center;
}
.Feature h3{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top:20px;
}

/* before  */
/* .seller{
    display: flex;
    margin-left:450px;
    margin-top:10px;
} */
/* after  */
.seller{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.seller p{
    font-size: small;
    padding-left: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#best{
    color:yellow;
}
.wineee{
    display: flex;
}
.darko{
    height: 300px;
    width:300px;
    margin-top:50px;
}
.darko img{
    width: 150px;
}
.darko span{
    color:red;
}
.color{
    background: url(new/yeag.webp);
    /* height: 500px; */
    display: flex;
    align-items: center;
    background-size: cover;
    border:2px solid white;
    border-left:none;
    border-right:none;
  

}
.Review{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}
.Review h1{
    margin: 21px 0;
    font-size:45px;
    font-family: Arial, Helvetica, sans-serif;
}
/* before  */
/* .picc{
    display: inline-block;
} */
/* afater  */
.picc{
    display: flex;
    padding: 20px;
}
    

.Review img{
    width:270px;
    border-radius: 50%;
    border:10px solid gray;
    /* margin-right: 700px;
    margin-top:100px; */
}
.Review p{
    /* margin-left:480px;
    margin-top: -130px; */
    text-align: center;
    margin: 50px 0;
    padding: 19px;
}
.Review button{
    position: relative;
    top: -50px;
    padding: 10px 20px;
    background: none;
    /* height: 40px; */
    font-size: 20px;
    
    color:rgb(255, 255, 255);
    border:2px solid white;
    margin-top:10px;
    border-radius: 6px;
    transition: all;
    transition-duration:3s;
    transition-timing-function: ease-in; 
    box-shadow: 3px 3px 3px black;
    margin-left:190px;
}
footer{
    background-color: rgb(115, 115, 115);
    /* height: 300px; */
    width: 1005;
}
.footer-1{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 20px 0;
}
.footer-2{
    /* height: 250px; */
    /* width:400px; */
    /* margin-top:5px;
     */
   
}
.footer-2 p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-top:30px; */
    /* margin-left:190px; */
}
.footer-2 ul{
    padding-top:10px;
}
.footer-2 ul li{
    padding-top: 10px;
    /* margin-left:190px; */
    list-style: none;
}
.footer-3{
    /* height: 250px; */
    /* width:400px; */
    /* margin-top:5px; */
    display: flex;
    flex-direction: column;
}
.footer-3 p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    
    /* margin-top:30px; */
    
}
.footer-3 input{
    width: 100%;
    flex-direction: column;
    height: 30px;
    display: inline-block;
    text-align: center;
    /* width: 300px; */
    margin-top:40px;
    border:2px solid white;
    border-radius: 5px;
}
.footer-3 button{
    padding: 5px 10px;
    
    background: none;
    /* height: 40px; */
    /* width: 130px; */
    border-radius: 7px;
    border:2px solid white;
    margin-top:20px;
    color:white;
}

.footer-4{
    /* height: 250px; */
    /* width:400px; */
    margin-top:5px;
}
.footer-4 p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-top:30px; */
 
}
.footer-4 h5{
    margin-top:30px;
    line-height: 20px;
}
.icon {
    display: flex;
    /* padding-left:110px; */
    padding-top:20px;
}
.icon i{
    font-size: 35px;
    padding-left:10px;
}